@import "tailwindcss";

@theme {
  --color-primary: #7c00fe;
  --color-primary-active: #963df5;
  --color-chat-message: #c599f4;

  --font-chat: "Inter", sans-serif;
}

.btn-press {
  @apply transition-transform duration-150 ease-in-out
         hover:scale-105 active:scale-95;
}
